@charset "UTF-8";

body {
    background-color: #121212;
    color: #ffffff;
}

a {
    color: #80ff80;
}

a:hover {
    color: #66cc66;
}

.btn-outline-success {
    border-color: #00cc66;
    color: #00cc66;
}

.btn-outline-success:hover {
    background-color: #00cc66;
    color: #000;
}

.btn-success {
    background-color: #00cc66;
    border-color: #00cc66;
}

